{{ define "main" }}

    {{ $pages := .Pages }}
    {{ $categories := slice }}

    <article>
      {{ partial "header.html" . }}
      <div class="posts-list pagefind-exclude">
        <div class="markdown-body">{{ .Content }}</div>

        {{ partial "section-categories" $pages }}
        <p class="text-secondary text-sm">*稻草人周刊也属于散文集，但为了方便查阅，周刊没有列在下面，请到<a href="/categories/稻草人周刊/">分类页面</a>查看周刊。</p>

        <!-- Post Archive List -->
        {{ $remainingMonthsToOpen := 3 }}
        {{ range $pages.GroupByDate "2006" -}}
          <section class="w-full">
            {{ partial "components/section-title" (dict
                "Left" .Key
                "Right" (T "archivePage.postCountAnnual" (len .Pages))
            )}}

            {{ range .Pages.GroupByDate "January" }}
            <div class="posts-month-archive"{{ if gt $remainingMonthsToOpen 0 }} open{{ end }}>
                <h2 class="text-size-lg inline-block w-full m-0
                    flex justify-between items-center">
                    {{ .Key }}
                </h2>
                <ul class="ps-0 flex flex-col gap-2 list-none leading-relaxed">
                    {{ range .Pages }}
                    {{ $isWeekly := (eq .Params.categories "稻草人周刊") }}
                    {{ if not (eq .Params.categories "稻草人周刊") }}
                    <li class="flex gap-4 text-size-lg">
                        <span class="text-size-xs h-5 font-mono text-secondary flex-shrink-0
                            inline-block border-1 border-solid border-t-5 px-1
                            border-neutral-200 dark:border-neutral-700">
                            {{ .Date.Format "02" }}
                        </span>
                        <a href="{{ .RelPermalink }}">
                            {{ .Title }}{{ with .Params.subtitle }}：<span class="text-secondary">{{. }}</span>
                            {{ end }}
                        </a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
            {{ $remainingMonthsToOpen = sub $remainingMonthsToOpen 1 }}
            {{ end }}
          </section>
        {{ end }}
      </div>
    </article>
    {{ partial "footer.html" . }}
{{ end }}
